@model PersonAddRequest

@{
    ViewData["Title"] = "CreatePerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Persons List</a>

<h2>Create Person</h2>

<div class="w-50">
    <form asp-controller="Persons" asp-action="Create" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                @* <label for="PersonName" class="form-label pt">Person Name</label> *@
                <label asp-for="PersonName" class="form-label pt">Person Name</label> 
            </div>
            <div class="flex-1">
                @* <input type="text" id="PersonName" name="PersonName" class="form-input" /> *@
                <input asp-for="PersonName" class="form-input" />
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" type="email" class="form-input" />
            </div>
        </div>

        @*DateOfBirth*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" type="date" class="form-input" />
            </div>
        </div>

        @*Gender*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Gender" class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(GenderOption));
                }
                @foreach (string gender in genders)
                {
                    <input asp-for="Gender" type="radio" value="@gender" />
                    <label for="@gender">@gender</label>
                }
            </div>
        </div>

        @*Country*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label" for="CountryId">Country</label>
            </div>
            <div class="flex-1">
                @* <select name="CountryID" id="CountryId" class="form-input">
                    <option value="">Please Select</option>
                    @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryId">@country.CountryName</option>
                    }
                </select> *@

                <select asp-for="CountryId" class="form-input">
                    <option value="">Please Select</option>
                    @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryId">@country.CountryName</option>
                    }
                </select>
            </div>
        </div>

        @*Address*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" name="Address" class="form-input"></textarea>
            </div>
        </div>

        @*ReceiveNewsLetters*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" type="checkbox" value="true" />
                <label asp-for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>