@{
    ViewBag.Title = "Persons";
}

@model IEnumerable<PersonResponse>

<h1>Persons</h1>

<a asp-controller="Persons" asp-action="CreatePerson">Create Person</a>

@* <form action="~/persons/index" method="get"> *@
<form asp-controller="Persons" asp-action="Index" method="get">
    <div class="box flex ">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @* searchBy = PersonName *@
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else
                    {
                        <option value="@field.Key">@field.Value</option>
                    }

                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" class="form-input" placeholder="Search" value="@ViewBag.CurrentSearchString" name="searchString" />
            @* searchBy = PersonName & searchString = furkan *@
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a asp-controller="Persons" asp-action="Index" class="link-hover">Clear All</a>
        </div>
    </div>

    <table class="table w-100 mt">
        <thead>
            <tr>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.PersonName)},
                {"DisplayName", "Person Name"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Email)},
                {"DisplayName", "Email"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.DateOfBirth)},
                {"DisplayName", "Date of Birth"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Age)},
                {"DisplayName", "Age"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Gender)},
                {"DisplayName", "Gender"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Country)},
                {"DisplayName", "Country"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Address)},
                {"DisplayName", "Address"},
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.ReceiveNewsLetters)},
                {"DisplayName", "Receive Letters"},
                })

                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td style="width:12%">@person.PersonName</td>
                    <td style="width:18%">@person.Email</td>
                    <td style="width:15%">@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td style ="width:10%">@person.Age</td>
                    <td style ="width:10%">@person.Gender</td>
                    <td style="width:10%">@person.Country</td>
                    <td style="width:15%">@person.Address</td>
                    <td style="width:10%">@person.ReceiveNewsLetters</td>
                    <td style="width:20%">
                        <a asp-controller="Persons" asp-action="EditPerson" asp-route-personId="@person.PersonId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
